GOOGLE_CLIENT_EMAIL=xxx@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTON_KEY\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID=ton_id_google_sheet
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
